html {
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    height: 100%;
    font-family: 'TT Lakes';
    background-color: #F8F8F8;
}

* {
    margin: 0px;
    padding: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    font-weight: normal;
    padding: 0;
    list-style-type: none;
    font-family: 'TT Lakes';
}

ol,
ul {
    list-style: none;
}

/* ............................................ */

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Medium.woff2') format('woff2'),
        url('TTLakes-Medium.woff') format('woff'),
        url('TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/* ............................................. */

.bg-color {
    width: 100%;
    height: 88px;
    background-color: white;
}

.conteiner {
    width: 740px;
    height: 100%;
    padding: 0px 10px;
    margin: 0 auto;
}

.header__left {
    position: relative;
}

.header__hover:hover .aside {
    display: block;
}

/* .......... */

.aside {
    display: none;
    background-color: white;
    position: absolute;
    top: -15px;
    box-shadow: 16px 0px 52px 0px #0E185033;
    width: 320px;
    height: 900px;
    padding: 0px 24px;
}

.aside__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 23px 0px 0px 0px;
}

.aside__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
}

.aside__derection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.aside__menu {
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.aside__line {
    position: relative;
}

.aside__line::before {
    content: '';
    position: absolute;
    top: -26px;
    left: -24px;
    z-index: 1;
    background-color: #41F6D7;
    width: 4px;
    height: 32px;
    display: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.line-left-1:hover .aside__line::before,
.line-left-2:hover .aside__line::before,
.line-left-3:hover .aside__line::before,
.line-left-4:hover .aside__line::before,
.line-left-5:hover .aside__line::before,
.line-left-6:hover .aside__line::before,
.line-left-7:hover .aside__line::before,
.line-left-8:hover .aside__line::before {
    display: block;
}

.line-left-1:hover,
.line-left-2:hover,
.line-left-3:hover,
.line-left-4:hover,
.line-left-5:hover,
.line-left-6:hover,
.line-left-7:hover,
.line-left-8:hover {
    color: #7E7E82;
}

.aside-button,
.aside__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 188px;
}

.aside-button_margin {
    margin-bottom: 32px;
}

.aside__contact_gap {
    gap: 16px;
    padding-bottom: 40px;
}

.aside-button__items {
    display: flex;
    gap: 16px;
}

.aside-button__number {
    font-size: 24px;
    font-weight: 900;
}

.aside-button__language {
    display: flex;
    gap: 7px;
}

.btn-item {
    border: none;
    background-color: transparent;
}

.btn-item:hover {
    color: #7E7E82;
}

/* .......... */

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.header__hover {
    width: 40px;
}

.btn {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn_margin:not(:last-child) {
    margin-right: 16px;
}

.btn_before {
    position: relative;
    z-index: 0;
    margin-right: 40px;
}


.btn_before::before {
    content: '';
    position: absolute;
    top: 5px;
    right: -24px;
    z-index: 1;
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 2px;
}